@import "./variables";
@import "../../node_modules/bootstrap/scss/bootstrap";

.nav-link {
    color: $white !important;
}

.nav-link.router-link-active {
    color: $secondary !important;
}

.note-card {
    width: 18rem;
}

.text-red {
    color: $red;
}
